* {
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
}

h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.container {
  padding: 1rem;
  display: flex;
  height: 100vh;
}

.left {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
}

.left .input {
  width: 98%;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  padding: 5px;
  flex: 1;
}

.right {
  flex: 0 0 50%;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  padding: 5px;
}